asgiref==3.8.1
autopep8==2.3.2
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.4
defusedxml==0.7.1
Django==5.2.3
django-utils-six==2.0
idna==3.10
oauthlib==3.3.1
packaging==25.0
pycodestyle==2.14.0
pycparser==2.22
PyJWT==2.10.1
python3-openid==3.2.0
requests==2.32.4
requests-oauthlib==2.0.0
social-auth-app-django==5.5.1
social-auth-core==4.7.0
sqlparse==0.5.3
toml==0.10.2
tomli==2.2.1
typing_extensions==4.14.0
urllib3==2.5.0
