{% extends 'base.html' %}

{% block title %}Polls{% endblock %}

{% block content %}
<h1 class="text-center mb-3">
    Questions:
</h1>

{% if question_list %}
    {% for question in question_list %}
    <div class="card mb-3">
        <div class="card-body">
            <p class="lead">
                {{ question.question_text }}
                <a href="{% url 'poll_app:detail' question.pk %}" class="btn btn-primary btn-sm">Vote</a>
                <a href="{% url 'poll_app:results' question.pk %}" class="btn btn-secondary btn-sm">Results</a>
            </p>
        </div>
    </div>
    {% empty %}
        There are no active polls.
    {% endfor %}
{% else %}
    <p>No pulls</p>
{% endif %}

{% endblock %}