{% extends 'base.html' %}

{% block title %}Password change{% endblock %}


{% block content %}

<div class="container">
    <div class="col-md-5 m-auto">
        <h1>Password change</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger btn-block">Password change</button>
            <a class="btn btn-success" href="{% url 'accounts:profile' %}" type="submit">Cancel</a>
        </form>

    </div>
</div>
{% endblock %}
