{% extends 'base.html' %}

{% block title %}Profile{% endblock %}


{% block content %}

<h1 class="text-center">Profile:</h1>
<div class="alert alert-primary" role="alert">Your profile: <b>{{ user.username }}</b></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">email</th>
        <th scope="col">Date of registration</th>
        <th scope="col">Last login</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_joined }}</td>
        <td>{{ user.last_login }}</td>
    </tr>
    </tbody>
</table>

<a href="{% url 'accounts:edit_user' %}" class="btn btn-primary btn-sm">Edit Profile</a>
<a href="{% url 'accounts:delete_user' %}" class="btn btn-danger btn-sm">Delete Profile</a>
<a href="{% url 'accounts:password_change' %}" class="btn btn-secondary btn-sm">Password change</a>

<h1 class="text-center">Your votes in the Polls:</h1>
{% if votes %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Question</th>
        <th scope="col">Your Vote</th>
        <th scope="col">Date of Vote</th>
    </tr>
    </thead>
    <tbody>
    {% for vote in votes %}
    <tr>
        <td>{{ vote.question.question_text }}</td>
        <td>{{ vote.choice.choice_text }}</td>
        <td>{{ vote.created_at }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<p>Вы еще не голосовали.</p>
{% endif %}

{% endblock %}
